{% extends 'layout.html'  %}

{% block body %}

<h1>Brew Logs</h1>
<ul class="list-group">
{% for rev in brew_reviews %}
<div class="card text-white bg-dark mb-3">
  <h5 class="card-header">{{rev.name}}</h5>
  <div class="card-body">
      <h5 class="card-title"><strong>{{rev.btype}}</strong>   <i><small>ABV: {{rev.abv}}</small></i></h5>
      <p class="card-text"><strong>Rating:</strong> {{rev.rating}}/10.0</p>
      <p class="card-text"><strong>Location:</strong> {{rev.location}}</p>
  </div>
</div>
{% endfor  %}
</ul>
{% endblock %}
